//*********************************

//@import url('https://fonts.googleapis.com/css?family=Kanit:800');

:root {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: #181717;
}
